/*Style swatch-
teal - #89f0ef;
white - white;*/



* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html {

}

body { 
  font: 13px Helvetica, Arial; 
  height: 100%;
  width: 100%;
}
      
form { 
  background: #89f0ef; 
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  border-radius: 5px; 
  position: relative; 
}

form input { 
  border: 0; 
  padding: 10px; 
  width: 78%; 
  margin-right: .5%; 
  border-radius: 5px; 
}

form button { 
  width: 20%; 
  background: black; 
  border: none; padding: 10px; 
  border-radius: 5px; 
  position: relative; 
  color:white;
}

#app {
  width: 80%;
}

#superContainer {
  height: 50%;
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  border-radius: 5px;
  background-color: #89f0ef; 
  vertical-align: bottom; 
  bottom: 0;
}
      
#messages li { 
  padding: 5px 10px 
}
      
/*#messages li:nth-child(odd) { background: #eee; background-opacity: 0.5 }*/

#nav {
  z-index: 5;
  float: left;
  width: 200px;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s;
}

/*push the page content to the right when you open the side navigation*/ 
#main {
  transition: margin-left .5s;
}

#message-log {
	
	height:200px;
  border-radius: 5px;
	overflow: auto;
  opacity: 0.7;
}

#collapseUI {
  top: 2%;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  overflow:  hidden;

}

.ui {
  float: left !important;
  margin-left: 5px;
}

#chat {
  border: 1px solid blue;
  position: absolute;
  height: 98%;
  width: 19%;
  top: 0;
  margin: 5px !important;
  left: 80%;
}

#videos-container {
  min-height: 200px;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
  border: 1px solid black;
  width: 100%;
}

#drawingContainer {
  height: 67%;
  width: 66%;
  border: 2px solid green;
  border-radius: 0px;
  left: 200px;
  z-index: 0;
  position: absolute;
  user-select: none;
}

#canvas {
  display: block;
  z-index: 999999;
  /*background-color: #89f0ef;*/
  opacity: 0.5;
  cursor: pointer;
      
}

h3 {
  font-family: Eurostile, Courier;
  color: white;
  margin-top:6px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/*#clearDrawing {
  position: relative;
  margin: 6px;
  z-index: 9999;
  background: none;
  font-size: 16px;
  border: none;
  color:white;
  font-family: Eurostile, Courier;
}*/

#clock {
  position: absolute;
  font-size: 32px;
  z-index: 9999;
  color: #89f0ef;
  font-border: both;
  margin-left: 85%;
  margin-top: 1%;
  font-family: Eurostile;
  font-weight: bold;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.25px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  user-select: none;
}

#startVoice, #endVoice {
  float: inherit;
  margin-left: 6px;
  border: 0.25px solid white;
  width: 39%;
  padding: 1px;
  border-radius: 5px;
  text-align: center;
}

p {
  font-family: Eurostile;
  color: #89f0ef;
  -webkit-text-stroke-width: 0.25px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#clearDrawing {
  border: 0.5px solid white;
  border-radius: 5px;
  padding: 4px;
  font-size: 13pt;
}

.chatConsole {
  font-size: 8pt;
}

/*.ui > p {
  color: #89f0ef
}

.ui > input {
  border-radius: 5px
  autocorrect: off,
  autocapitalize="off",
  size: 20px
}*/

}

