/*Style swatch-
teal - #89f0ef;
white - white;*/



* {
  margin: 0; 
  padding: 0; 
  box-sizing: border-box; 
}

html {

}

body { 
  font: 13px Helvetica, Arial; 
  height: 100%;
  width: 100%;
}
      
form { 
  background: #89f0ef; 
  padding: 3px; 
  position: fixed; 
  bottom: 0; 
  width: 100%; 
  border-radius: 5px; 
  position: relative; 
}

form input { 
  border: 0; 
  padding: 10px; 
  width: 78%; 
  margin-right: .5%; 
  border-radius: 5px; 
}

form button { 
  width: 20%; 
  background: black; 
  border: none; padding: 10px; 
  border-radius: 5px; 
  position: relative; 
  color:white;
}

#app {
  width: 80%;
}

#superContainer {
  height: 50%;
}

#messages { 
  list-style-type: none; 
  margin: 0; 
  padding: 0; 
  border-radius: 5px;
  background-color: #89f0ef; 
  vertical-align: bottom; 
  bottom: 0;
}
      
#messages li { 
  padding: 5px 10px 
}
      
/*#messages li:nth-child(odd) { background: #eee; background-opacity: 0.5 }*/

#nav {
  width: 150px;
  height: 50%;
  z-index: 5;
  float: left;
  background-color: #7B3F00; /* not Black*/
  overflow: hidden; /* Disable horizontal scroll */
  transition: 0.25s;

}

/*push the page content to the right when you open the side navigation*/ 
#main {
  transition: margin-left .5s;
}

#message-log {
	
	height:200px;
  border-radius: 5px;
	overflow: auto;
  opacity: 0.7;
}

#collapseUI {
  top: 2%;
  list-style-type: none;
  margin: 0 !important;
  padding: 0 !important;
  overflow:  hidden;

}

.ui {

  margin-left: 5px;

}

#chat {
  /*placeholder background*/

  border: 1px solid blue;
  position: absolute;
  height: 92%;
  width: 19%;
  left: 80%;
  top:0;
  margin: 5px !important;
}

#videos-container {
  /*placeholder background*/
  background-color: beige;
  min-height: 200px;
  height: 100%;
  overflow: auto;
  overflow-y: hidden;
  border: 1px solid black;
  width: 100%;
}

#drawingContainer {
  height: 65.5%;
  width: 69.5%;
  border: 2px solid green;
  border-radius: 0px;
  left: 150px;
  z-index: 0;
  position: absolute;
  user-select: none;
}

#canvas {
  display: block;
  z-index: 999999;
  /*background-color: #89f0ef;*/
  opacity: 0.5;
  cursor: pointer;
      
}

h3 {
  font-family: Eurostile, Courier;
  color: white;
  margin-top:6px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

/*#clearDrawing {
  position: relative;
  margin: 6px;
  z-index: 9999;
  background: none;
  font-size: 16px;
  border: none;
  color:white;
  font-family: Eurostile, Courier;
}*/

#clock {
  font-size: 32px;
  z-index: 9999;
  color: #89f0ef;
  font-border: both;
  margin-left: 85%;
  margin-top: 1%;
  font-family: Eurostile;
  font-weight: bold;
  -webkit-text-stroke-color: white;
  -webkit-text-stroke-width: 0.25px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
  user-select: none;
}

#startVoice, #endVoice {
  float: inherit;
  margin-left: 6px;
  border: 0.25px solid white;
  width: 39%;
  padding: 1px;
  border-radius: 5px;
  text-align: center;
}

p {
  font-family: Eurostile;
  color: #89f0ef;
  -webkit-text-stroke-width: 0.25px;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

#clearDrawing {
  border: 0.5px solid white;
  border-radius: 5px;
  padding: 4px;
  font-size: 13pt;
}

.chatConsole {
  font-size: 8pt;
}

#footer {
  border: 0.5px solid black;
  height: 50px;
  width: 89%;
  background-color: pink;
  position: absolute;
  bottom: 0;
  left: 150px;
}

/*Splash page styles*/

.splashDiv {
  height: 50vh;
  margin: auto;
}

.splashDiv div {
  position: relative;
  float: left;
  padding: 30px 5px 0 5px;
  width: 28%;
  margin-left:31px;
  margin-right:15px;

}

.splashDiv .steps img {
  width: 100%;
  margin: auto;
  padding-bottom: 20px;

}

h3 {
  font-family: Eurostile, sans-serif;
  font-size: 24px;
  padding: 10px 0 10px 0;
  text-align: center;
  margin: auto;
}

.steps p {
  color:black;
  -webkit-text-stroke-width:0px;
  text-shadow: none;
  text-align: center;
  font-size: 18px;
  width: 80%;
  margin: auto;
}

#tutorial {
  /*background-image: url('/images/icons/tutorial.png');*/
  /*background-repeat: no-repeat;
  background-size:100% 100%;*/
  background-color: #89f0ef; 
}

#createRoomContainer {
  float: right;
  display: block;
  padding: 30px;
  margin-right: 160px;
  margin-top: -75px;
}

input {
  padding: 10px;
}

#auth {
  height:150px;
  width: 300px
}

#moneyShot {
  background-image: url('/images/icons/money-shot.png');
  background-repeat: no-repeat;
  background-size:100% 100%;
}

#splashLogo {
  width: 20%;
  height: auto;
  margin: 30px
}
 #how {
  font-family: eurostile;
  font-size: 24px;
  text-align: center;
  color: #89f0ef;
  padding-top: 5px;
}

#moneyShot h2 {
  color:white;
}

.titleContainer {
  width: 80%;
  margin: auto;
}


