* { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 13px Helvetica, Arial; }
      form { background: #89f0ef; padding: 3px; position: fixed; bottom: 0; width: 100%; border-radius: 25px; position: relative; }
      form input { border: 0; padding: 10px; width: 78%; margin-right: .5%; border-radius: 25px; }
      form button { width: 20%; background: black; border: none; padding: 10px; border-radius: 25px; position: relative; color:white;}
      #messages { list-style-type: none; margin: 0; padding: 0; border-radius: 25px;background-color: #89f0ef; vertical-align: bottom; overflow:hidden; overflow-y:scroll; bottom: 0;}
      #messages li { padding: 5px 10px; overflow: hidden;}
      /*#messages li:nth-child(odd) { background: #eee; background-opacity: 0.5 }*/

#message-log {
	
	height:200px;
      border-radius: 25px;
	overflow: scroll;
      opacity: 0.5
}

#aframe-scene {
      height: 100%;
      width: 100%;
}

#chat {
      position: absolute;
      width: 300px;
      bottom:0;
}

#drawingContainer {
      height: 200px;
      width: 300px;
      border: 5px solid rgba(255, 255, 255, 0.7);
      border-radius: 25px;
      position: absolute;
      z-index: 999999;
}

#canvas {
      height: 100%;
      width:100%;
      display: block;
      z-index: 999999;
      background-color: #89f0ef;
      opacity: 0.5;
      border-radius: 19px
}

h3 {
      font-family: Eurostile, Courier;
      color: white;
      margin-top:6px;
      
      
}

#clearDrawing {
      position: relative;
      margin: 6px;
      z-index: 9999;
      background: none;
      font-size: 16px;
      border: none;
      color:white;
      font-family: Eurostile, Courier;
}